openapi: 3.0.3
info:
  title: TEGNA AudienceOne Audiences Inventory API
  description: The TEGNA AudienceOne API enables advertisers to access TEGNA's first-party data targeting platform for digital advertising campaigns across TEGNA's 64 local television brands in 51 U.S. markets. The platform provides audience segment management, campaign creation, creative management, and performance reporting for display, native, pre-roll video, and programmatic advertising.
  version: 1.0.0
  contact:
    url: https://www.tegna.com/advertise/solutions/digital/
  license:
    name: Proprietary
    url: https://www.tegna.com/
servers:
- url: https://api.tegna.com/v1
  description: TEGNA AudienceOne API - Production
tags:
- name: Inventory
paths:
  /inventory:
    get:
      operationId: listOttInventory
      summary: List OTT Inventory
      description: Retrieve available OTT/CTV inventory across streaming platforms.
      tags:
      - Inventory
      parameters:
      - name: platform
        in: query
        description: Filter by streaming platform.
        required: false
        schema:
          type: string
          enum:
          - roku
          - hulu
          - amazon-fire-tv
          - apple-tv
          - samsung-tv
          - all
      - name: genre
        in: query
        description: Filter by content genre.
        required: false
        schema:
          type: string
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: Available OTT inventory.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OttInventory'
components:
  schemas:
    OttInventory:
      type: object
      description: Available OTT/CTV advertising inventory.
      properties:
        inventoryId:
          type: string
        platform:
          type: string
        channel:
          type: string
        genre:
          type: string
        availableImpressions:
          type: integer
        cpm:
          type: number
          format: double
          description: Cost per thousand impressions (CPM) in USD.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
