openapi: 3.2.0
info:
  title: PREMION Content API (WordPress REST) Yoast/v1 API
  description: 'The public, unauthenticated read API behind premion.com — the marketing site for Premion, TEGNA''s OTT/CTV advertising business. Serves posts, pages, media, categories, taxonomies and block types as JSON, plus oEmbed and Yoast SEO metadata namespaces. It is NOT the Premion advertising platform API: that surface lives at https://api.premion.com/api, is token-gated (401 ''Access Denied: No Token Provided'') and publishes no specification. Reads here require no credential; writes require a WordPress Application Password.'
  version: '2.0'
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_from: https://premion.com/wp-json/
    derived_on: '2026-08-13'
    note: 'DERIVED, not published by the provider. TEGNA does not publish an OpenAPI document. This specification is a faithful mechanical transform of the WordPress REST route-discovery index the provider serves at the URL above: every path, method, parameter name, type, enum, default and required flag is copied from that index. No operation, parameter or host is invented. The host was verified live and the routes verified callable on 2026-08-13.'
servers:
- url: https://premion.com/wp-json
  description: Live WordPress REST API (verified reachable).
tags:
- name: yoast/v1
  description: WordPress REST namespace `yoast/v1` (51 operations).
paths:
  /yoast/v1:
    get:
      operationId: getYoastV1
      summary: GET /yoast/v1
      description: '`GET /yoast/v1` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      parameters:
      - name: context
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: view
      - name: namespace
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/action_tracking:
    post:
      operationId: createYoastV1ActionTracking
      summary: POST /yoast/v1/action_tracking
      description: '`POST /yoast/v1/action_tracking` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
              required:
              - action
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/alerts/dismiss:
    post:
      operationId: createYoastV1AlertsDismiss
      summary: POST /yoast/v1/alerts/dismiss
      description: '`POST /yoast/v1/alerts/dismiss` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
              required:
              - key
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/available_posts:
    get:
      operationId: getYoastV1AvailablePosts
      summary: GET /yoast/v1/available_posts
      description: '`GET /yoast/v1/available_posts` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      parameters:
      - name: postType
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: page
      - name: search
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/bulk_editor/posts:
    get:
      operationId: getYoastV1BulkEditorPosts
      summary: GET /yoast/v1/bulk_editor/posts
      description: '`GET /yoast/v1/bulk_editor/posts` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      parameters:
      - name: content_type
        in: query
        required: true
        description: The content type to fetch posts for.
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: The page of posts to fetch.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: The number of posts to fetch.
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: The term to search posts by.
        schema:
          type: string
          default: ''
      - name: status
        in: query
        required: false
        description: The post statuses to include.
        schema:
          type: array
          default:
          - publish
          - draft
          - pending
          - future
          items:
            type: string
            enum:
            - publish
            - draft
            - pending
            - future
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/bulk_editor/update_search:
    post:
      operationId: createYoastV1BulkEditorUpdateSearch
      summary: POST /yoast/v1/bulk_editor/update_search
      description: '`POST /yoast/v1/bulk_editor/update_search` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: string
                  description: The per-post updates to apply.
              required:
              - items
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/bulk_editor/update_social:
    post:
      operationId: createYoastV1BulkEditorUpdateSocial
      summary: POST /yoast/v1/bulk_editor/update_social
      description: '`POST /yoast/v1/bulk_editor/update_social` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: string
                  description: The per-post updates to apply.
              required:
              - items
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/complete_task:
    post:
      operationId: createYoastV1CompleteTask
      summary: POST /yoast/v1/complete_task
      description: '`POST /yoast/v1/complete_task` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                options:
                  type: object
              required:
              - options
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/configuration/check_capability:
    get:
      operationId: getYoastV1ConfigurationCheckCapability
      summary: GET /yoast/v1/configuration/check_capability
      description: '`GET /yoast/v1/configuration/check_capability` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      parameters:
      - name: user_id
        in: query
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/configuration/enable_tracking:
    post:
      operationId: createYoastV1ConfigurationEnableTracking
      summary: POST /yoast/v1/configuration/enable_tracking
      description: '`POST /yoast/v1/configuration/enable_tracking` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tracking:
                  type: boolean
              required:
              - tracking
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/configuration/get_configuration_state:
    get:
      operationId: getYoastV1ConfigurationGetConfigurationState
      summary: GET /yoast/v1/configuration/get_configuration_state
      description: '`GET /yoast/v1/configuration/get_configuration_state` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/configuration/save_configuration_state:
    post:
      operationId: createYoastV1ConfigurationSaveConfigurationState
      summary: POST /yoast/v1/configuration/save_configuration_state
      description: '`POST /yoast/v1/configuration/save_configuration_state` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                finishedSteps:
                  type: array
                  items:
                    type: string
              required:
              - finishedSteps
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/configuration/site_representation:
    post:
      operationId: createYoastV1ConfigurationSiteRepresentation
      summary: POST /yoast/v1/configuration/site_representation
      description: '`POST /yoast/v1/configuration/site_representation` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_or_person:
                  type: string
                  enum:
                  - company
                  - person
                company_name:
                  type: string
                company_logo:
                  type: string
                company_logo_id:
                  type: integer
                person_logo:
                  type: string
                person_logo_id:
                  type: integer
                company_or_person_user_id:
                  type: integer
                description:
                  type: string
              required:
              - company_or_person
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/configuration/social_profiles:
    post:
      operationId: createYoastV1ConfigurationSocialProfiles
      summary: POST /yoast/v1/configuration/social_profiles
      description: '`POST /yoast/v1/configuration/social_profiles` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                facebook_site:
                  type: string
                twitter_site:
                  type: string
                other_social_urls:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/file_size:
    get:
      operationId: getYoastV1FileSize
      summary: GET /yoast/v1/file_size
      description: '`GET /yoast/v1/file_size` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      parameters:
      - name: url
        in: query
        required: true
        description: The url to retrieve
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/get_head:
    get:
      operationId: getYoastV1GetHead
      summary: GET /yoast/v1/get_head
      description: '`GET /yoast/v1/get_head` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      parameters:
      - name: url
        in: query
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/get_tasks:
    get:
      operationId: getYoastV1GetTasks
      summary: GET /yoast/v1/get_tasks
      description: '`GET /yoast/v1/get_tasks` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      parameters:
      - name: options
        in: query
        required: false
        description: ''
        schema:
          type: object
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/import/{plugin}/{type}:
    parameters:
    - name: plugin
      in: path
      required: true
      schema:
        type: string
      description: Path segment matched by the WordPress route pattern `[\w-]+`.
    - name: type
      in: path
      required: true
      schema:
        type: string
      description: Path segment matched by the WordPress route pattern `[\w-]+`.
    post:
      operationId: createYoastV1ImportByPluginByType
      summary: POST /yoast/v1/import/{plugin}/{type}
      description: '`POST /yoast/v1/import/{plugin}/{type}` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/indexing/complete:
    post:
      operationId: createYoastV1IndexingComplete
      summary: POST /yoast/v1/indexing/complete
      description: '`POST /yoast/v1/indexing/complete` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/indexing/general:
    post:
      operationId: createYoastV1IndexingGeneral
      summary: POST /yoast/v1/indexing/general
      description: '`POST /yoast/v1/indexing/general` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/indexing/indexables-complete:
    post:
      operationId: createYoastV1IndexingIndexablesComplete
      summary: POST /yoast/v1/indexing/indexables-complete
      description: '`POST /yoast/v1/indexing/indexables-complete` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/indexing/post-type-archives:
    post:
      operationId: createYoastV1IndexingPostTypeArchives
      summary: POST /yoast/v1/indexing/post-type-archives
      description: '`POST /yoast/v1/indexing/post-type-archives` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/indexing/posts:
    post:
      operationId: createYoastV1IndexingPosts
      summary: POST /yoast/v1/indexing/posts
      description: '`POST /yoast/v1/indexing/posts` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/indexing/prepare:
    post:
      operationId: createYoastV1IndexingPrepare
      summary: POST /yoast/v1/indexing/prepare
      description: '`POST /yoast/v1/indexing/prepare` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/indexing/terms:
    post:
      operationId: createYoastV1IndexingTerms
      summary: POST /yoast/v1/indexing/terms
      description: '`POST /yoast/v1/indexing/terms` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/integrations/set_active:
    post:
      operationId: createYoastV1IntegrationsSetActive
      summary: POST /yoast/v1/integrations/set_active
      description: '`POST /yoast/v1/integrations/set_active` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                integration:
                  type: string
              required:
              - active
              - integration
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/introductions/{introduction_id}/seen:
    parameters:
    - name: introduction_id
      in: path
      required: true
      schema:
        type: string
      description: Path segment matched by the WordPress route pattern `[\w-]+`.
    post:
      operationId: createYoastV1IntroductionsByIntroductionIdSeen
      summary: POST /yoast/v1/introductions/{introduction_id}/seen
      description: '`POST /yoast/v1/introductions/{introduction_id}/seen` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                introduction_id:
                  type: string
                is_seen:
                  type: string
                  default: true
              required:
              - introduction_id
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/link-indexing/posts:
    post:
      operationId: createYoastV1LinkIndexingPosts
      summary: POST /yoast/v1/link-indexing/posts
      description: '`POST /yoast/v1/link-indexing/posts` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/link-indexing/terms:
    post:
      operationId: createYoastV1LinkIndexingTerms
      summary: POST /yoast/v1/link-indexing/terms
      description: '`POST /yoast/v1/link-indexing/terms` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/meta/search:
    get:
      operationId: getYoastV1MetaSearch
      summary: GET /yoast/v1/meta/search
      description: '`GET /yoast/v1/meta/search` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/new-content-type-visibility/dismiss-post-type:
    post:
      operationId: createYoastV1NewContentTypeVisibilityDismissPostType
      summary: POST /yoast/v1/new-content-type-visibility/dismiss-post-type
      description: '`POST /yoast/v1/new-content-type-visibility/dismiss-post-type` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                postTypeName:
                  type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/new-content-type-visibility/dismiss-taxonomy:
    post:
      operationId: createYoastV1NewContentTypeVisibilityDismissTaxonomy
      summary: POST /yoast/v1/new-content-type-visibility/dismiss-taxonomy
      description: '`POST /yoast/v1/new-content-type-visibility/dismiss-taxonomy` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                taxonomyName:
                  type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/readability_scores:
    get:
      operationId: getYoastV1ReadabilityScores
      summary: GET /yoast/v1/readability_scores
      description: '`GET /yoast/v1/readability_scores` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      parameters:
      - name: contentType
        in: query
        required: true
        description: ''
        schema:
          type: string
      - name: taxonomy
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: ''
      - name: term
        in: query
        required: false
        description: ''
        schema:
          type: integer
      - name: troubleshooting
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/semrush/authenticate:
    post:
      operationId: createYoastV1SemrushAuthenticate
      summary: POST /yoast/v1/semrush/authenticate
      description: '`POST /yoast/v1/semrush/authenticate` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
              required:
              - code
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/semrush/country_code:
    post:
      operationId: createYoastV1SemrushCountryCode
      summary: POST /yoast/v1/semrush/country_code
      description: '`POST /yoast/v1/semrush/country_code` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                country_code:
                  type: string
              required:
              - country_code
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/semrush/related_keyphrases:
    get:
      operationId: getYoastV1SemrushRelatedKeyphrases
      summary: GET /yoast/v1/semrush/related_keyphrases
      description: '`GET /yoast/v1/semrush/related_keyphrases` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      parameters:
      - name: country_code
        in: query
        required: true
        description: ''
        schema:
          type: string
      - name: keyphrase
        in: query
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/seo_scores:
    get:
      operationId: getYoastV1SeoScores
      summary: GET /yoast/v1/seo_scores
      description: '`GET /yoast/v1/seo_scores` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      parameters:
      - name: contentType
        in: query
        required: true
        description: ''
        schema:
          type: string
      - name: taxonomy
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: ''
      - name: term
        in: query
        required: false
        description: ''
        schema:
          type: integer
      - name: troubleshooting
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/setup_steps_tracking:
    post:
      operationId: createYoastV1SetupStepsTracking
      summary: POST /yoast/v1/setup_steps_tracking
      description: '`POST /yoast/v1/setup_steps_tracking` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                setup_widget_loaded:
                  type: string
                  enum:
                  - 'yes'
                  - 'no'
                first_interaction_stage:
                  type: string
                  enum:
                  - install
                  - activate
                  - setup
                  - grantConsent
                  - successfullyConnected
                last_interaction_stage:
                  type: string
                  enum:
                  - install
                  - activate
                  - setup
                  - grantConsent
                  - successfullyConnected
                setup_widget_temporarily_dismissed:
                  type: string
                  enum:
                  - 'yes'
                  - 'no'
                setup_widget_permanently_dismissed:
                  type: string
                  enum:
                  - 'yes'
                  - 'no'
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/site_kit_configuration_permanent_dismissal:
    post:
      operationId: createYoastV1SiteKitConfigurationPermanentDismissal
      summary: POST /yoast/v1/site_kit_configuration_permanent_dismissal
      description: '`POST /yoast/v1/site_kit_configuration_permanent_dismissal` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_dismissed:
                  type: string
              required:
              - is_dismissed
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/statistics:
    get:
      operationId: getYoastV1Statistics
      summary: GET /yoast/v1/statistics
      description: '`GET /yoast/v1/statistics` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/wincher/account/limit:
    get:
      operationId: getYoastV1WincherAccountLimit
      summary: GET /yoast/v1/wincher/account/limit
      description: '`GET /yoast/v1/wincher/account/limit` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/wincher/account/upgrade-campaign:
    get:
      operationId: getYoastV1WincherAccountUpgradeCampaign
      summary: GET /yoast/v1/wincher/account/upgrade-campaign
      description: '`GET /yoast/v1/wincher/account/upgrade-campaign` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/wincher/authenticate:
    post:
      operationId: createYoastV1WincherAuthenticate
      summary: POST /yoast/v1/wincher/authenticate
      description: '`POST /yoast/v1/wincher/authenticate` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                websiteId:
                  type: string
              required:
              - code
              - websiteId
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/wincher/authorization-url:
    get:
      operationId: getYoastV1WincherAuthorizationUrl
      summary: GET /yoast/v1/wincher/authorization-url
      description: '`GET /yoast/v1/wincher/authorization-url` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /yoast/v1/wincher/keyphrases:
    post:
      operationId: createYoastV1WincherKeyphrases
      summary: POST /yoast/v1/wincher/keyphrases
      description: '`POST /yoast/v1/wincher/keyphrases` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                keyphrases:
                  type: string
                permalink:
                  type: string
                startAt:
                  type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/wincher/keyphrases/track:
    post:
      operationId: createYoastV1WincherKeyphrasesTrack
      summary: POST /yoast/v1/wincher/keyphrases/track
      description: '`POST /yoast/v1/wincher/keyphrases/track` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keyphrases:
                  type: string
              required:
              - keyphrases
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /yoast/v1/wincher/keyphrases/untrack:
    delete:
      operationId: deleteYoastV1WincherKeyphrasesUntrack
      summary: DELETE /yoast/v1/wincher/keyphrases/untrack
      description: '`DELETE /yoast/v1/wincher/keyphrases/untrack` as advertised by the live WordPress REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - yoast/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
[...]
