openapi: 3.1.0
info:
  title: PREMION Content API (WordPress REST)
  description: 'The public, unauthenticated read API behind premion.com — the marketing site for Premion,
    TEGNA''s OTT/CTV advertising business. Serves posts, pages, media, categories, taxonomies and block
    types as JSON, plus oEmbed and Yoast SEO metadata namespaces. It is NOT the Premion advertising platform
    API: that surface lives at https://api.premion.com/api, is token-gated (401 ''Access Denied: No Token
    Provided'') and publishes no specification. Reads here require no credential; writes require a WordPress
    Application Password.'
  version: '2.0'
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_from: https://premion.com/wp-json/
    derived_on: '2026-08-13'
    note: 'DERIVED, not published by the provider. TEGNA does not publish an OpenAPI document. This specification
      is a faithful mechanical transform of the WordPress REST route-discovery index the provider serves
      at the URL above: every path, method, parameter name, type, enum, default and required flag is copied
      from that index. No operation, parameter or host is invented. The host was verified live and the
      routes verified callable on 2026-08-13.'
servers:
- url: https://premion.com/wp-json
  description: Live WordPress REST API (verified reachable).
tags:
- name: oembed/1.0
  description: WordPress REST namespace `oembed/1.0` (3 operations).
- name: wp-abilities/v1
  description: WordPress REST namespace `wp-abilities/v1` (8 operations).
- name: wp/v2
  description: WordPress REST namespace `wp/v2` (229 operations).
- name: yoast/v1
  description: WordPress REST namespace `yoast/v1` (51 operations).
paths:
  /oembed/1.0:
    get:
      operationId: getOembed10
      summary: GET /oembed/1.0
      description: '`GET /oembed/1.0` as advertised by the live WordPress REST route index at https://premion.com/wp-json/.
        Parameters below are copied verbatim from that index.'
      tags:
      - oembed/1.0
      parameters:
      - name: context
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: view
      - name: namespace
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: oembed/1.0
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /oembed/1.0/embed:
    get:
      operationId: getOembed10Embed
      summary: GET /oembed/1.0/embed
      description: '`GET /oembed/1.0/embed` as advertised by the live WordPress REST route index at https://premion.com/wp-json/.
        Parameters below are copied verbatim from that index.'
      tags:
      - oembed/1.0
      parameters:
      - name: format
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: json
      - name: maxwidth
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: 600
      - name: url
        in: query
        required: true
        description: The URL of the resource for which to fetch oEmbed data.
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /oembed/1.0/proxy:
    get:
      operationId: getOembed10Proxy
      summary: GET /oembed/1.0/proxy
      description: '`GET /oembed/1.0/proxy` as advertised by the live WordPress REST route index at https://premion.com/wp-json/.
        Parameters below are copied verbatim from that index.'
      tags:
      - oembed/1.0
      parameters:
      - name: discover
        in: query
        required: false
        description: Whether to perform an oEmbed discovery request for unsanctioned providers.
        schema:
          type: boolean
          default: true
      - name: format
        in: query
        required: false
        description: The oEmbed format to use.
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: maxheight
        in: query
        required: false
        description: The maximum height of the embed frame in pixels.
        schema:
          type: integer
      - name: maxwidth
        in: query
        required: false
        description: The maximum width of the embed frame in pixels.
        schema:
          type: integer
          default: 600
      - name: url
        in: query
        required: true
        description: The URL of the resource for which to fetch oEmbed data.
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp-abilities/v1:
    get:
      operationId: getWpAbilitiesV1
      summary: GET /wp-abilities/v1
      description: '`GET /wp-abilities/v1` as advertised by the live WordPress REST route index at https://premion.com/wp-json/.
        Parameters below are copied verbatim from that index.'
      tags:
      - wp-abilities/v1
      parameters:
      - name: context
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: view
      - name: namespace
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: wp-abilities/v1
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp-abilities/v1/abilities:
    get:
      operationId: getWpAbilitiesV1Abilities
      summary: GET /wp-abilities/v1/abilities
      description: '`GET /wp-abilities/v1/abilities` as advertised by the live WordPress REST route index
        at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp-abilities/v1
      parameters:
      - name: category
        in: query
        required: false
        description: Limit results to abilities in specific ability category.
        schema:
          type: string
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp-abilities/v1/abilities/{name}:
    parameters:
    - name: name
      in: path
      required: true
      schema:
        type: string
      description: Path segment matched by the WordPress route pattern `[a-zA-Z0-9\-\/]+`.
    get:
      operationId: getWpAbilitiesV1AbilitiesByName
      summary: GET /wp-abilities/v1/abilities/{name}
      description: '`GET /wp-abilities/v1/abilities/{name}` as advertised by the live WordPress REST route
        index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp-abilities/v1
      parameters:
      - name: name
        in: query
        required: false
        description: Unique identifier for the ability.
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp-abilities/v1/abilities/{name}/run:
    parameters:
    - name: name
      in: path
      required: true
      schema:
        type: string
      description: Path segment matched by the WordPress route pattern `[a-zA-Z0-9\-\/]+?`.
    get:
      operationId: getWpAbilitiesV1AbilitiesByNameRun
      summary: GET /wp-abilities/v1/abilities/{name}/run
      description: '`GET /wp-abilities/v1/abilities/{name}/run` as advertised by the live WordPress REST
        route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp-abilities/v1
      parameters:
      - name: input
        in: query
        required: false
        description: Input parameters for the ability execution.
        schema:
          type: integer
      - name: name
        in: query
        required: false
        description: Unique identifier for the ability.
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createWpAbilitiesV1AbilitiesByNameRun
      summary: POST /wp-abilities/v1/abilities/{name}/run
      description: '`POST /wp-abilities/v1/abilities/{name}/run` as advertised by the live WordPress REST
        route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp-abilities/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Unique identifier for the ability.
                input:
                  type: integer
                  description: Input parameters for the ability execution.
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
    delete:
      operationId: deleteWpAbilitiesV1AbilitiesByNameRun
      summary: DELETE /wp-abilities/v1/abilities/{name}/run
      description: '`DELETE /wp-abilities/v1/abilities/{name}/run` as advertised by the live WordPress
        REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that
        index.'
      tags:
      - wp-abilities/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Unique identifier for the ability.
                input:
                  type: integer
                  description: Input parameters for the ability execution.
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /wp-abilities/v1/categories:
    get:
      operationId: getWpAbilitiesV1Categories
      summary: GET /wp-abilities/v1/categories
      description: '`GET /wp-abilities/v1/categories` as advertised by the live WordPress REST route index
        at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp-abilities/v1
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp-abilities/v1/categories/{slug}*):
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
      description: Path segment matched by the WordPress route pattern `[a-z0-9]+(?:-[a-z0-9]+`.
    get:
      operationId: getWpAbilitiesV1CategoriesBySlug}*
      summary: GET /wp-abilities/v1/categories/{slug}*)
      description: '`GET /wp-abilities/v1/categories/{slug}*)` as advertised by the live WordPress REST
        route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp-abilities/v1
      parameters:
      - name: slug
        in: query
        required: false
        description: Unique identifier for the ability category.
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2:
    get:
      operationId: getWpV2
      summary: GET /wp/v2
      description: '`GET /wp/v2` as advertised by the live WordPress REST route index at https://premion.com/wp-json/.
        Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: view
      - name: namespace
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: wp/v2
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/block-directory/search:
    get:
      operationId: getWpV2BlockDirectorySearch
      summary: GET /wp/v2/block-directory/search
      description: '`GET /wp/v2/block-directory/search` as advertised by the live WordPress REST route
        index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: term
        in: query
        required: true
        description: Limit result set to blocks matching the search term.
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/block-patterns/categories:
    get:
      operationId: getWpV2BlockPatternsCategories
      summary: GET /wp/v2/block-patterns/categories
      description: '`GET /wp/v2/block-patterns/categories` as advertised by the live WordPress REST route
        index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/block-patterns/patterns:
    get:
      operationId: getWpV2BlockPatternsPatterns
      summary: GET /wp/v2/block-patterns/patterns
      description: '`GET /wp/v2/block-patterns/patterns` as advertised by the live WordPress REST route
        index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/block-renderer/{name}:
    parameters:
    - name: name
      in: path
      required: true
      schema:
        type: string
      description: Path segment matched by the WordPress route pattern `[a-z0-9-]+/[a-z0-9-]+`.
    get:
      operationId: getWpV2BlockRendererByName
      summary: GET /wp/v2/block-renderer/{name}
      description: '`GET /wp/v2/block-renderer/{name}` as advertised by the live WordPress REST route
        index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      parameters:
      - name: attributes
        in: query
        required: false
        description: Attributes for the block.
        schema:
          type: object
          default: &id002 []
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum: &id001
          - edit
          default: view
      - name: name
        in: query
        required: false
        description: Unique registered name for the block.
        schema:
          type: string
      - name: post_id
        in: query
        required: false
        description: ID of the post context.
        schema:
          type: integer
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createWpV2BlockRendererByName
      summary: POST /wp/v2/block-renderer/{name}
      description: '`POST /wp/v2/block-renderer/{name}` as advertised by the live WordPress REST route
        index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Unique registered name for the block.
                context:
                  type: string
                  enum: *id001
                  default: view
                  description: Scope under which the request is made; determines fields present in response.
                attributes:
                  type: object
                  default: *id002
                  description: Attributes for the block.
                post_id:
                  type: integer
                  description: ID of the post context.
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /wp/v2/block-types:
    get:
      operationId: getWpV2BlockTypes
      summary: GET /wp/v2/block-types
      description: '`GET /wp/v2/block-types` as advertised by the live WordPress REST route index at https://premion.com/wp-json/.
        Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: namespace
        in: query
        required: false
        description: Block namespace.
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/block-types/{namespace}:
    parameters:
    - name: namespace
      in: path
      required: true
      schema:
        type: string
      description: Path segment matched by the WordPress route pattern `[a-zA-Z0-9_-]+`.
    get:
      operationId: getWpV2BlockTypesByNamespace
      summary: GET /wp/v2/block-types/{namespace}
      description: '`GET /wp/v2/block-types/{namespace}` as advertised by the live WordPress REST route
        index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: namespace
        in: query
        required: false
        description: Block namespace.
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/block-types/{namespace}/{name}:
    parameters:
    - name: namespace
      in: path
      required: true
      schema:
        type: string
      description: Path segment matched by the WordPress route pattern `[a-zA-Z0-9_-]+`.
    - name: name
      in: path
      required: true
      schema:
        type: string
      description: Path segment matched by the WordPress route pattern `[a-zA-Z0-9_-]+`.
    get:
      operationId: getWpV2BlockTypesByNamespaceByName
      summary: GET /wp/v2/block-types/{namespace}/{name}
      description: '`GET /wp/v2/block-types/{namespace}/{name}` as advertised by the live WordPress REST
        route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: name
        in: query
        required: false
        description: Block name.
        schema:
          type: string
      - name: namespace
        in: query
        required: false
        description: Block namespace.
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/blocks:
    get:
      operationId: getWpV2Blocks
      summary: GET /wp/v2/blocks
      description: '`GET /wp/v2/blocks` as advertised by the live WordPress REST route index at https://premion.com/wp-json/.
        Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      parameters:
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
      - name: tax_relation
        in: query
        required: false
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: wp_pattern_category
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the wp_pattern_category
          taxonomy.
        schema:
          type: object
      - name: wp_pattern_category_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the wp_pattern_category
          taxonomy.
        schema:
          type: object
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createWpV2Blocks
      summary: POST /wp/v2/blocks
      description: '`POST /wp/v2/blocks` as advertised by the live WordPress REST route index at https://premion.com/wp-json/.
        Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /wp/v2/blocks/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: Path segment matched by the WordPress route pattern `[\d]+`.
    get:
      operationId: getWpV2BlocksById
      summary: GET /wp/v2/blocks/{id}
      description: '`GET /wp/v2/blocks/{id}` as advertised by the live WordPress REST route index at https://premion.com/wp-json/.
        Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        required: false
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: id
        in: query
        required: false
        description: Unique identifier for the post.
        schema:
          type: integer
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createWpV2BlocksById
      summary: POST /wp/v2/blocks/{id}
      description: '`POST /wp/v2/blocks/{id}` as advertised by the live WordPress REST route index at
        https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: Unique identifier for the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
    delete:
      operationId: deleteWpV2BlocksById
      summary: DELETE /wp/v2/blocks/{id}
      description: '`DELETE /wp/v2/blocks/{id}` as advertised by the live WordPress REST route index at
        https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: Unique identifier for the post.
                force:
                  type: boolean
                  default: false
                  description: Whether to bypass Trash and force deletion.
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /wp/v2/blocks/{id}/autosaves:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: Path segment matched by the WordPress route pattern `[\d]+`.
    get:
      operationId: getWpV2BlocksByIdAutosaves
      summary: GET /wp/v2/blocks/{id}/autosaves
      description: '`GET /wp/v2/blocks/{id}/autosaves` as advertised by the live WordPress REST route
        index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: parent
        in: query
        required: false
        description: The ID for the parent of the autosave.
        schema:
          type: integer
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createWpV2BlocksByIdAutosaves
      summary: POST /wp/v2/blocks/{id}/autosaves
      description: '`POST /wp/v2/blocks/{id}/autosaves` as advertised by the live WordPress REST route
        index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the autosave.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /wp/v2/blocks/{parent}/autosaves/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: integer
      description: Path segment matched by the WordPress route pattern `[\d]+`.
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: Path segment matched by the WordPress route pattern `[\d]+`.
    get:
      operationId: getWpV2BlocksByParentAutosavesById
      summary: GET /wp/v2/blocks/{parent}/autosaves/{id}
      description: '`GET /wp/v2/blocks/{parent}/autosaves/{id}` as advertised by the live WordPress REST
        route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: id
        in: query
        required: false
        description: The ID for the autosave.
        schema:
          type: integer
      - name: parent
        in: query
        required: false
        description: The ID for the parent of the autosave.
        schema:
          type: integer
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/blocks/{parent}/revisions:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: integer
      description: Path segment matched by the WordPress route pattern `[\d]+`.
    get:
      operationId: getWpV2BlocksByParentRevisions
      summary: GET /wp/v2/blocks/{parent}/revisions
      description: '`GET /wp/v2/blocks/{parent}/revisions` as advertised by the live WordPress REST route
        index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by object attribute.
        schema:
          type: string
          enum:
          - date
          - id
          - include
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: parent
        in: query
        required: false
        description: The ID for the parent of the revision.
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/blocks/{parent}/revisions/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: integer
      description: Path segment matched by the WordPress route pattern `[\d]+`.
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: Path segment matched by the WordPress route pattern `[\d]+`.
    get:
      operationId: getWpV2BlocksByParentRevisionsById
      summary: GET /wp/v2/blocks/{parent}/revisions/{id}
      description: '`GET /wp/v2/blocks/{parent}/revisions/{id}` as advertised by the live WordPress REST
        route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: id
        in: query
        required: false
        description: Unique identifier for the revision.
        schema:
          type: integer
      - name: parent
        in: query
        required: false
        description: The ID for the parent of the revision.
        schema:
          type: integer
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteWpV2BlocksByParentRevisionsById
      summary: DELETE /wp/v2/blocks/{parent}/revisions/{id}
      description: '`DELETE /wp/v2/blocks/{parent}/revisions/{id}` as advertised by the live WordPress
        REST route index at https://premion.com/wp-json/. Parameters below are copied verbatim from that
        index.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the revision.
                id:
                  type: integer
                  description: Unique identifier for the revision.
                force:
                  type: boolean
                  default: false
                  description: Required to be true, as revisions do not support trashing.
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /wp/v2/categories:
    get:
      operationId: getWpV2Categories
      summary: GET /wp/v2/categories
      description: '`GET /wp/v2/categories` as advertised by the live WordPress REST route index at https://premion.com/wp-json/.
        Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: hide_empty
        in: query
        required: false
        description: Whether to hide terms not assigned to any posts.
        schema:
          type: boolean
          default: false
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        required: false
        description: Sort collection by term attribute.
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: parent
        in: query
        required: false
        description: Limit result set to terms assigned to a specific parent.
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: post
        in: query
        required: false
        description: Limit result set to terms assigned to a specific post.
        schema:
          type: integer
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: slug
        in: query
        required: false
        description: Limit result set to terms with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createWpV2Categories
      summary: POST /wp/v2/categories
      description: '`POST /wp/v2/categories` as advertised by the live WordPress REST route index at https://premion.com/wp-json/.
        Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
              required:
              - name
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /wp/v2/categories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: Path segment matched by the WordPress route pattern `[\d]+`.
    get:
      operationId: getWpV2CategoriesById
      summary: GET /wp/v2/categories/{id}
      description: '`GET /wp/v2/categories/{id}` as advertised by the live WordPress REST route index
        at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: id
        in: query
        required: false
        description: Unique identifier for the term.
        schema:
          type: integer
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createWpV2CategoriesById
      summary: POST /wp/v2/categories/{id}
      description: '`POST /wp/v2/categories/{id}` as advertised by the live WordPress REST route index
        at https://premion.com/wp-json/. Parameters below are copied verbatim from that index.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: Unique identifier for the term.
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Success.
          headers:
            X-WP-Total:
              description: Total records matching the query (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated — `rest_not_logged_in`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — `rest_forbidden` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource — `rest_no_route` / `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
    delete:
      operationId: deleteWpV2CategoriesById
      summary: DELETE /wp/v2/categories/{id}
      description: '`DELETE /wp/v2/categories/{id}` as advertised by the live WordPress REST route index
[...]
