openapi: 3.0.3
info:
  title: TEGNA AudienceOne Audiences API
  description: The TEGNA AudienceOne API enables advertisers to access TEGNA's first-party data targeting platform for digital advertising campaigns across TEGNA's 64 local television brands in 51 U.S. markets. The platform provides audience segment management, campaign creation, creative management, and performance reporting for display, native, pre-roll video, and programmatic advertising.
  version: 1.0.0
  contact:
    url: https://www.tegna.com/advertise/solutions/digital/
  license:
    name: Proprietary
    url: https://www.tegna.com/
servers:
- url: https://api.tegna.com/v1
  description: TEGNA AudienceOne API - Production
tags:
- name: Audiences
paths:
  /audiences:
    get:
      operationId: listAudiences
      summary: List Audiences
      description: Retrieve available audience segments for targeting in TEGNA campaigns.
      tags:
      - Audiences
      parameters:
      - name: market
        in: query
        description: Filter audiences by TEGNA market (DMA code or city name).
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Filter by audience segment type.
        required: false
        schema:
          type: string
          enum:
          - demographic
          - behavioral
          - contextual
          - geographic
          - first-party
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          default: 25
      security:
      - bearerAuth: []
      responses:
        '200':
          description: A list of available audience segments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  audiences:
                    type: array
                    items:
                      $ref: '#/components/schemas/AudienceSegment'
        '401':
          description: Unauthorized.
  /audiences/{audienceId}:
    get:
      operationId: getAudience
      summary: Get Audience
      description: Retrieve details about a specific audience segment.
      tags:
      - Audiences
      parameters:
      - name: audienceId
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Audience segment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegment'
        '404':
          description: Audience segment not found.
components:
  schemas:
    AudienceSegment:
      type: object
      description: A targetable audience segment in TEGNA AudienceOne.
      properties:
        audienceId:
          type: string
          description: Unique identifier for the audience segment.
        name:
          type: string
          description: Display name of the audience segment.
        description:
          type: string
          description: Description of the audience segment.
        type:
          type: string
          enum:
          - demographic
          - behavioral
          - contextual
          - geographic
          - first-party
        size:
          type: integer
          description: Estimated reach of the audience segment.
        markets:
          type: array
          description: TEGNA markets where this segment is available.
          items:
            type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
