openapi: 3.0.3
info:
  title: TEGNA AudienceOne Audiences OTT Campaigns API
  description: The TEGNA AudienceOne API enables advertisers to access TEGNA's first-party data targeting platform for digital advertising campaigns across TEGNA's 64 local television brands in 51 U.S. markets. The platform provides audience segment management, campaign creation, creative management, and performance reporting for display, native, pre-roll video, and programmatic advertising.
  version: 1.0.0
  contact:
    url: https://www.tegna.com/advertise/solutions/digital/
  license:
    name: Proprietary
    url: https://www.tegna.com/
servers:
- url: https://api.tegna.com/v1
  description: TEGNA AudienceOne API - Production
tags:
- name: OTT Campaigns
paths:
  /campaigns:
    get:
      operationId: listOttCampaigns
      summary: List OTT Campaigns
      description: Retrieve OTT/CTV advertising campaigns.
      tags:
      - OTT Campaigns
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - active
          - paused
          - completed
          - draft
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: A list of OTT campaigns.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OttCampaign'
        '401':
          description: Unauthorized.
    post:
      operationId: createOttCampaign
      summary: Create OTT Campaign
      description: Create a new OTT/CTV advertising campaign on Premion.
      tags:
      - OTT Campaigns
      security:
      - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OttCampaignCreate'
      responses:
        '201':
          description: OTT campaign created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OttCampaign'
        '400':
          description: Invalid campaign data.
  /campaigns/{campaignId}:
    get:
      operationId: getOttCampaign
      summary: Get OTT Campaign
      description: Retrieve details for a specific OTT campaign.
      tags:
      - OTT Campaigns
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: OTT campaign details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OttCampaign'
        '404':
          description: Campaign not found.
components:
  schemas:
    OttCampaign:
      type: object
      description: A Premion OTT/CTV advertising campaign.
      properties:
        campaignId:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
          - active
          - paused
          - completed
          - draft
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        budget:
          type: number
          format: double
        targetPlatforms:
          type: array
          items:
            type: string
        targetGenres:
          type: array
          items:
            type: string
        impressionGoal:
          type: integer
        completionRateTarget:
          type: number
          format: double
    OttCampaignCreate:
      type: object
      required:
      - name
      - startDate
      - budget
      properties:
        name:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        budget:
          type: number
          format: double
        targetPlatforms:
          type: array
          items:
            type: string
        targetGenres:
          type: array
          items:
            type: string
        impressionGoal:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
